* {
  margin: 0;
  padding: 0;
  height: auto;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* İçeriklerin önünde durması için */
  object-fit: cover; /* Video'nun ekranı tamamen kaplamasını sağlar */
}
.content {
  position: relative;
  z-index: 1; /* İçeriğin video üzerinde olmasını sağlar */
  color: white; /* İçeriğin görünür olması için beyaz yapalım */
  text-align: center;
  padding-top: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
